<div>


</div>


{% schema %}
  {
    "name": "ベースliquid",
    "settings": [
      {
        "type": "range",
        "id": "horizontal-scroll_margin-top",
        "label": "オートスライダーセクションの上部余白",
        "min": 0,
        "max": 300,
        "step": 4,
        "unit": "px",
        "default": 40,
        "info": "上部余白の設定"
      }, {
        "type": "range",
        "id": "horizontal-scroll_margin-bottom",
        "label": "オートスライダーセクションの上部余白",
        "min": 0,
        "max": 300,
        "step": 4,
        "unit": "px",
        "default": 40,
        "info": "上部余白の設定"
      }
    ],
    "presets": [
      {
        "name": "ベースliquid"
      }
    ]
  }
{% endschema %}